<div class="container">
  <h3>Select your interests:</h3>
  <%= simple_form_for @user, url:  users_update_interest_path do |f| %>
    <% Interest.all.each do |interest| %>
      <div class="form-check">
        <%= f.check_box :interest_ids, { multiple: true, class: 'form-check-input', id: interest.id }, interest.id, nil %>
        <%= f.label interest.id, class: 'form-check-label' do %>
          <%= interest.icon.html_safe %>
          <span class="interest-name"><%= interest.name %></span>
        <% end %>
      </div>
    <% end %>
    <%= f.submit class: 'btn btn-primary text-dark fw-bold' %>
  <% end %>
  <a href="/">Back</a>
</div>
