<div id="<%= dom_id booking %>">

  <div class="activity-photos">
    <% photo = @activity.photos.first %>
    <%= cl_image_tag photo.key, height: 150, width: 250, crop: :fill %>
  </div>

  <p>
    <strong>Booking Date:</strong>
    <%= booking.availability.start_time.strftime("%A, %B %e, %Y") %>
  </p>

  <p>
    <strong>Price: $</strong>
    <%= booking.availability.activity.price %> per pax
  </p>

  <p>
  <strong>Hosted by </strong>
  <%= @activity.user.first_name %>
  </p>


  <p>
    <strong>Number of Pax:</strong>
    <%= booking.number_of_pax %>
  </p>

  <p>
    <strong>Booking Status:</strong>
    <%= booking.status %>
  </p>

    <p>
    <strong>Comment:</strong>
    <%= booking.comment %>
  </p>

</div>
