<div id="<%= dom_id booking %>">
  <p>
    <strong>Name:</strong>
    <%= booking.availability.activity.name %>
  </p>

   <p>
    <strong>Description:</strong>
    <%= booking.availability.activity.description %>
  </p>

   <p>
    <strong>Price:</strong>
    <%= booking.availability.activity.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_name %>
  </p>

  <p>
    <strong>Booking Date:</strong>
    <%= booking.availability.start_time.strftime("%A, %B %e, %Y") %>
  </p>

  <p>
    <strong>Number of Pax:</strong>
    <%= booking.number_of_pax %>
  </p>

  <p>
    <strong>Booking Status:</strong>
    <%= booking.status %>
  </p>

    <p>
    <strong>Comment:</strong>
    <%= booking.comment %>
  </p>

</div>
