<div class="centered-form" data-controller="flatpickr",
data-flatpickr-availabilities-value="<%= activity.availabilities.map { |a| [a.start_time.to_date, a.id] }.to_json %>">
  <%= simple_form_for([activity, booking]) do |f| %>
  <%# simple_form_for([activity, booking],
  data: { controller: "flatpickr", flatpickr: {availabilities: {value: activity.availabilities }}}) do |f| %>
    <%= f.input :availability_id,

    # collection: activity.availabilities.map { |a| [a.start_time, a.id] },
    input_html: { class: "d-none", data: {flatpickr_target:"chosenDateId"} }%>
    <input class="form-control calender-availability-field" placeholder="YYYY-MM-DD"
    data-flatpickr-target="startTime"
    data-action="input->flatpickr#changeDateToAvailabilityId">
    <%= f.input :number_of_pax, as: :integer, input_html: { class:"number-of-pax-field" } %>
    <%= f.input :comment, placeholder: "", class: "booking-comment-field" %>
    <br>
    <%= f.submit "Book Now", class: "btn btn-primary btn-book-now", onclick: "console.log('submit button clicked')" %>
  <% end %>
</div>
