<%# <h1 class="text-black"><%="#{current_user.first_name} #{current_user.last_name}"%>
<br><br>
<div class="text-center">
      <button id="button1" class="btn btn-primary button-toggle" onclick="toggleDiv1()" >My Booking</button>
      <button id="button2" class="btn button-toggle" onclick="toggleDiv2()">My Booking: Host</button>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="card w-80">
      <div id="div1" style="display: block;">
        <h3 class="text-black text-center" style="">Your Booking Activites</h3>
        <div class="card booking-host">
          <div class="card-body booking-card">
            <% if @bookings.any? %>
              <% counter = 1 %>
              <% @bookings.each do |booking| %>
                <div data-controller="chatroom">
                  <h5 class="card-title">Booking <%= counter %></h5>
                  <p class="card-text"><strong>Activity Name:</strong> <%= booking.availability.activity.name %></p>
                  <p class="card-text"><strong>Booking Date:</strong> <%= "#{booking.availability.start_time} to #{booking.availability.end_time}" %></p>
                  <p class="card-text"><strong>Number of Pax:</strong> <%= booking.number_of_pax %></p>
                  <p class="card-text"><strong>Booking Status:</strong> <%= booking.status %></p>
                  <% counter += 1 %>
                  <div style="display: flex; gap: 10px;">
                    <%= link_to "Show this booking", activity_booking_path(booking.availability.activity, booking), class: "btn btn-primary", data: { chatroom_target: "booking" } if policy(booking).show? %> 
                    <button class="btn btn-primary" data-chatroom-target="button" data-action="click->chatroom#getChatroom">Chat with Host</button>
                  </div>
                  <br><br>
                </div>
                
              <% end %>
            <% else %>
              <em>There's no bookings found.</em>
            <% end %>
          </div>
        </div>    
      </div>
    </div>

    <div class="card w-80">
      <div id="div2" style="display: none;">
          <h3 class="text-black text-center">Your Hosted Booking Activities</h3>
            <div class="card booking-host">
              <div class="card-body booking-card">
                <% if @my_hostings.any? %>
                  <% counter = 1 %>
                  <% @my_hostings.each do |booking| %>
                    <div data-controller="chatroom">
                      <h5 class="card-title"> Booking <%= counter %></h5>
                      <p class="card-text"><strong>Booking Id:</strong> <%= booking.id %></p>
                      <p class="card-text"><strong>Activity Name:</strong> <%= booking.availability.activity.name %></p>
                      <p class="card-text"><strong>User Name:</strong> <%= booking.user_name %></p>
                      <p class="card-text"><strong>Booking Date:</strong> <%= "#{booking.availability.start_time} to #{booking.availability.end_time}" %></p>
                      <p class="card-text"><strong>Number of Pax:</strong> <%= booking.number_of_pax %></p>
                      <p class="card-text"><strong>Booking Status:</strong> <%= booking.status %></p>
                      <p class="card-text"><strong>Comment:</strong> <%= booking.comment %></p>

                      <div style="display: flex; gap: 10px;">
                        <%= link_to "Show this booking", activity_booking_path(booking.availability.activity, booking), method: :get, class: "btn btn-primary", data: { chatroom_target: "booking" } if policy(booking).show? %>       
                        <button class="btn btn-primary" data-chatroom-target="button" data-action="click->chatroom#getChatroom">Chat with Participant</button>
                      </div>
                      <br>
                      <br>
                      <%# <%= link_to "Destroy this booking", activity_booking_destroy_path(booking.availability.activity, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(booking).destroy? %>
                      <% counter += 1 %>
                    </div>
                  <% end %>
      
                <% else %>
                  <em>There's no bookings found.</em>
                <% end %>
              </div>
            </div>
      </div>    
    </div>
  </div>
</div>


<%# toggle for the button %>
<script>
var button1Disabled = false;
var button2Disabled = true;

function toggleDiv1(button) {
  var div1 = document.getElementById("div1");
  var div2 = document.getElementById("div2");

  if (div1.style.display === "none") {
    div1.style.display = "block";
    div2.style.display = "none";
  }
}

button1.addEventListener('click', function() {
  button1.classList.toggle('btn-primary');
  button2.classList.remove('btn-primary');
});



function toggleDiv2(button) {
  var div1 = document.getElementById("div1");
  var div2 = document.getElementById("div2");

  if (div2.style.display === "none") {
    div2.style.display = "block";
    div1.style.display = "none";
  }
}

button2.addEventListener('click', function() {
  button2.classList.toggle('btn-primary');
  button1.classList.remove('btn-primary');
});


function toggleButtons() {
  button1Disabled = !button1Disabled;
  button2Disabled = !button2Disabled;
  document.getElementById("button1").disabled = button1Disabled;
  document.getElementById("button2").disabled = button2Disabled;
}
</script>
