<br/>
<h1 class="text-center"><span><%= @booking.availability.activity.name %></span></h1>

<div class= "container">
  <%= link_to "Back to bookings", bookings_path, class: "btn btn-primary w-30 back-to-booking" %>
    <div class="container text-center booking-show" style="background: var(--bs-white);">
      <% if policy(@booking).host?%>
        <div>
          <% if !@booking.completed && Date.today < @booking.availability.start_time %>
            <% if @booking.status == "Paid & Pending Confirmation" %>
              <h3>A new booking has been made. Please review it.</h3>
              <%= render @booking %>
              <%= form_with url: [@activity, @booking], method: :patch do |form| %>
                <%= form.text_field :comment, placeholder: "Add a comment", name: "booking[comment]" %>
                <%= form.submit "Confirm the booking", class: "btn btn-primary w-50", name: "booking[status]", value: "Confirmed" %>
              <% end %>
              <%= form_with url: [@activity, @booking], method: :patch do |form| %>
                <%= form.text_field :comment, placeholder: "Add a comment", name: "booking[comment]" %>
                <%= form.submit "Reject the booking", class: "btn btn-primary w-50", name: "booking[status]", value: "Rejected" %>
              <% end %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Confirmed" %>
              <h3>You've confirmed this booking!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
              <%= button_to "Approve cancellation", [@activity, @booking], params: {booking: {status: "Cancelled"}}, method: :patch, class: "btn btn-primary w-50" if @booking.comment == "Cancellations Requested"%>
            <% elsif @booking.status == "Cancelled" %>
              <h3>This booking has been cancelled!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Rejected" %>
              <h3>You've rejected this booking!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Pending Payment" %>
            <% end %>

          <% elsif !@booking.completed && Date.today >= @booking.availability.start_time %>
            <% if @booking.status == "Paid & Pending Confirmation" %>
              <h3>The date of booking has passed. You've overlooked this booking!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Confirmed" %>
              <h3>You have completed the activity. Please mark the activity as completed!</h3>
              <%= render @booking %>
              <%= button_to "Mark as completed", [@activity, @booking], params: {booking: {completed: true, status: "Completed"}}, method: :patch, class: "btn btn-primary w-50" if policy(@booking).status? %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Cancelled" %>
              <h3>This booking has been cancelled!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Rejected" %>
              <h3>You've rejected this booking!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Pending Payment" %>
            <% end %>

          <% elsif @booking.completed && Date.today >= @booking.availability.start_time %>
            <% if @booking.status == "Confirmed" %>
              <h3>The booking is completed!</h3>
              <%= render @booking %>
              <%= link_to "View review", booking_participant_review_path(@booking, @booking.participant_reviews.first), class: "btn btn-primary w-50" if @booking.participant_reviews.present? %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% end %>

          <% else %>
          <%# show nothing when the user booking is pending and not paid %>
          <% end %>
        </div>

      <% elsif policy(@booking).participant? %>
        <div>
          <% if !@booking.completed && Date.today < @booking.availability.start_time %>
            <% if @booking.status == "Pending Payment" %>
              <h3>Greetings <%= @booking.user_name %>, we appreciate your reservation!</h3>
              <h3>Please check out to secure your spot!</h3>
              <%= render @booking %>
              <%= form_with url: orders_path do %>
                <%= hidden_field_tag 'activity_id', @activity.id %>
                <%= hidden_field_tag 'booking_id', @booking.id %>
                <%= submit_tag 'Checkout', class: 'btn btn-primary w-50' %>
              <% end %><br/>
              <%= link_to "Modify your booking", edit_activity_booking_path(@activity, @booking), class: 'btn btn-primary w-50' if policy(@booking).edit? %><br/><br/>
              <%= link_to "Cancel your booking", activity_booking_destroy_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-primary w-50' if policy(@booking).destroy? %><br/><br/>
              <%# <%= link_to "Back to bookings", bookings_path, class: "btn btn-primary w-50", style: "margin-bottom: 10px;" %>
            <% elsif @booking.status == "Paid & Pending Confirmation" %>
              <h3>Booking Payment Received and Request Sent!</h3>
              <p>We have reserved your slot, but your booking has <strong>not been confirmed yet</strong> by the host.</p>
              <%= render @booking %>
              <%= button_to "Request for cancellation and refund", [@activity, @booking], params: {booking: {comment: "Cancellations Requested"}}, method: :patch, class: 'btn btn-primary w-50' if policy(@booking).edit? %>
              <%# <%= link_to "Back to bookings", bookings_path, class: "btn btn-primary w-50", style: "margin: 10px;" %>
            <% elsif @booking.status == "Confirmed" %>
              <h3>Your booking has been confirmed by the host!</h3>
              <%= render @booking %>
              <%= button_to "Request for cancellation and refund", [@activity, @booking], params: {booking: {comment: "Cancellations Requested"}}, method: :patch, class: 'btn btn-primary w-50' if policy(@booking).edit? %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Cancelled" %>
              <h3>Your booking has been cancelled!</h3>
              <%= render @booking %>
              <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Rejected" %>
              <h3>Unfortunately, your booking has been rejected!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% end %>

          <% elsif !@booking.completed && Date.today >= @booking.availability.start_time %>
            <% if @booking.status == "Paid & Pending Confirmation" %>
              <h3>The date of booking has passed. The host has overlooked this booking!</h3>
              <h3>Sorry, we will proceed with the refund procedures.</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Confirmed" %>
              <h3>You have completed the activity. We are in the midst of verifying this with the host!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Cancelled" %>
              <h3>Your booking has been cancelled!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Rejected" %>
              <h3>Unfortunately, your booking has been rejected!</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% elsif @booking.status == "Pending Payment" %>
              <h3>The booking has expired as you have not made the payment.</h3>
              <%= render @booking %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% end %>

          <% elsif @booking.completed && Date.today >= @booking.availability.start_time %>
            <% if @booking.status == "Confirmed" %>
              <h3>Congratulations, your booking is now complete! We would like you to share your moment with us by leaving a review for the activity</h3>
              <%= render @booking %>
              <% if !@booking.participant_reviews.present?%>
                <%= link_to "Leave a review", new_booking_participant_review_path(@booking), class: 'btn btn-primary w-50' %>
              <% else %>
                <%= link_to "View review", booking_participant_review_path(@booking, @booking.participant_reviews.first), class: 'btn btn-primary w-50' %>
                <%= link_to "Edit review", edit_booking_participant_review_path(@booking, @participant_review), class: 'btn btn-primary w-50' if policy(@participant_review).update? %>
              <% end %>
              <%# <%= link_to "Back to bookings", bookings_path %>
            <% end %>

          <% else %>
            <h3>The booking has expired as you have not made the payment.</h3>
            <%= render @booking %>
            <%# <%= link_to "Back to bookings", bookings_path %>
          <% end %>
        </div>

      <% else %> <%# THIS IS FOR ADMIN #%>
        <div>
          <%= render @booking %>
          <%# <%= link_to "Back to bookings", bookings_path %>
        </div>
      <% end %>
    </div>
</div>