<h1>Hi, thank you for booking! Please check out.</h1>
<%= render @booking %>
<%= form_with url: orders_path do %>
  <%= hidden_field_tag 'activity_id', @activity.id %>
  <%= submit_tag 'Checkout', class: 'btn btn-primary' %>
<% end %>
<div>
  <% if !@booking.completed || Date.today < @booking.booking_date %>
    <% if @booking.status == "Pending"%>
      <%= link_to "Edit your booking", edit_activity_booking_path(@activity, @booking) if policy(@booking).edit? %>
      <% if policy(@booking).status? %>
        <%= form_with url: [@activity, @booking], method: :patch do |form| %>
          <%= form.text_field :comment, placeholder: "Add a comment", name: "booking[comment]" %>
          <%= form.submit "Confirm the booking", class: "btn btn-primary", name: "booking[status]", value: "Confirmed" %>
        <% end %>
      <% end %>
        <% if policy(@booking).status? %>
        <%= form_with url: [@activity, @booking], method: :patch do |form| %>
          <%= form.text_field :comment, placeholder: "Add a comment", name: "booking[comment]" %>
          <%= form.submit "Reject the booking", class: "btn btn-primary", name: "booking[status]", value: "Rejected" %>
        <% end %>
      <% end %>
      <%= link_to "View other activities", activities_path %>
      <%= link_to "Cancel your booking", activity_booking_destroy_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@booking).destroy? %>
    <% elsif @booking.status == "Confirmed" %>
      <%= link_to "View other activities", activities_path %>
      <%= button_to "Request for cancellation", [@activity, @booking], params: {booking: {comment: "Cancellations Requested"}}, method: :patch if policy(@booking).edit? %>
      <%= button_to "Approve cancellation", [@activity, @booking], params: {booking: {status: "Cancelled"}}, method: :patch if policy(@booking).status? if @booking.comment == "Cancellations Requested"%>
      <% if @booking.status == "Confirmed" && !@booking.completed %>
        <%= button_to "Mark as completed", [@activity, @booking], params: {booking: {completed: true, status: "Completed"}}, method: :patch if policy(@booking).status? %>
      <% end %>
    <% elsif @booking.status == "Rejected" %>
      <%= link_to "View other activities", activities_path %>
    <% elsif @booking.status == "Cancelled" %>
      <%= link_to "View other activities", activities_path %>
    <% else %>
      <%= link_to "View other activities", activities_path %>
      <%# the cancel your booking is for cleaning data purposes, user is only allowed to cancel the booking when the booking is pending %>
      <%= link_to "Cancel your booking", activity_booking_destroy_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@booking).destroy? %>
    <% end %>
  <% elsif @booking.completed && Date.today > @booking.booking_date %>
    <% if !@booking.participant_reviews.present?%>
      <%= link_to "Leave a review", new_booking_review_path(@booking) %>
    <% end %>
    <%= link_to "Book other activities", activities_path %>
    <% if @booking.participant_reviews.present? %>
      <%= link_to "View review", booking_participant_reviews_path(@booking, @booking.participant_reviews.first) %>
      <%= link_to "Edit review", edit_activity_booking_review_path(@activity, @booking, @review) if policy(@review).update? %>
    <% end %>
  <% else %>
    <%= link_to "Book other activities", activities_path %>
  <% end %>
</div>

<%= link_to "Leave a review", new_booking_participant_review_path(@booking) %>
