<%# <div class="footer">
  <div class="footer-links">
   
  </div> %>
  <%# <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div> %>

<div class="footer pt-5 mt-32 tw-bg-black " id="js-footer">
  <div class="container">
    <div class="row row-original">
      <div class="col-12 col-lg-4 mb-32 mb-md-0 footer-p1">
        <div>
          <h4 class="footer-logo">ToGather</h4>
          <p class="tw-text-sm">Welcome to Togather, a community-driven website that connects neighbors through shared activities and moments. Our platform is designed to help you create meaningful connections with the people who live near you, fostering a sense of community and belonging.</p>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>           
      </div>
      <div class="col-6 col-lg-2 mb-32 mb-md-0 offset-lg-1 footer-p2">
        <h4 class="tw-text-base text-uppercase font-weight-bold mb-1">Company</h4>
        <div class="py-1">
          <%= link_to "About Us", contact_us_path, class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "Legal Information", "#", class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "Contact Us", "#", class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "Share Moments", "#", class: "footer-link" %>
        </div>
      </div>
      <div class="col-6 col-lg-2 mb-32 mb-md-0 footer-p2">
        <h4 class="tw-text-base text-uppercase font-weight-bold mb-1">Help center</h4>
        <div class="py-1">
          <%= link_to "Find activity", activities_path, class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "How To Host?", "#", class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "Host an Activity", new_activity_path(@activity), class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "FAQs", "#", class: "footer-link" %>
        </div>
      </div>
      <div class="col-12 col-lg-3 footer-p2">
        <h4 class="tw-text-base text-uppercase font-weight-bold mb-1">Contact Info</h4>
        <div class="py-1">
          <%= link_to "Phone: 63552828", "#", class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "Email: Togather@email.com", "#", class: "footer-link" %>
        </div>
        <div class="py-1">
          <%= link_to "Location: 20 Collyer Quay #23-01 Singpore 049319 ", "#", class: "footer-link" %>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center pt-3 pb-4">
    <span class="tw-text-xs">© 2023 ToGather | All rights reserved</span>
  </div>
</div>