<div class="container" style="background: var(--bs-white);">
  <div class="row text-center"><br /><br />
    <h4>Order ID : #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h4>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <div class="activity-photos">
        <% @booking.activity.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 250, width: 350, crop: :fill %>
        <% end %>
      </div><br />
    </div>
  </div>


    <div class="row">
      <div class="col-md-12 col-lg-7 offset-lg-2"> 
        <ul class="list-unstyled">
          <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
          <li><strong>Activity</strong> <%= @order.activity.name %></li>
          <%# [<%= @order.activity_sku we do not have sku%>
          <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
          </li>
          <%= link_to "Show booking details", activity_booking_path(@booking.activity,@booking),  class: 'btn btn-primary' %>
        </ul>
      </div> <br />
    </div>
</div>

