

<div class="container text-center">
  <br>
  <br>
  <br>
  <div class="card p-4 d-inline-block your-order-container" style="background: var(--bs-white);">
    <div class="row text-center">
      <div class="col-12">
        <h4><strong>Your Order ID: #<%= @order.id %> <small><span class="badge badge-primary text-center"><%= @order.state %></strong></span></small></h4>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <div class="activity-photos">
          <% @booking.activity.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 250, width: 350, crop: :fill %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col-md-7">
        <ul class="list-unstyled">
          <li><strong>Issued on:</strong> <%= @order.created_at.to_date %></li>
          <li><strong>Activity:</strong> <%= @order.activity.name %></li>
          <li><strong>Total:</strong> <%= humanized_money_with_symbol @order.amount %></li>
          <li><%= link_to "Show booking details", activity_booking_path(@booking.activity,@booking), class: 'btn btn-primary mt-3' %></li>
        </ul>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
</div>
