<img src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?fit=2500%2C1073" class=" featuredImage--desktopOnly wp-post-image" alt="" loading="lazy" title="Newsroom About" tabindex="0" srcset="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=5500 5500w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=300 300w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=768 768w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1024 1024w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1536 1536w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=2048 2048w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=950 950w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=697 697w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1000 1000w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=3000 3000w" sizes="(max-width: 2500px) 100vw, 2500px">

<div class="container-fluid">
<div class ="row">
      <div class="col-md-6 border-0">
        <div class="card bg-whitesmoke text-black">
            <h3>6.6<abbr title="million">M</abbr></h3>
            <%# <%=video_tag("outdoor.mp4", autoplay: true, muted: true, playsinline: true) %>
              <p class>active listings worldwide</p>
              <p class>as of December 31, 2022</p>
      </div>
</div>

    <div class="col-md-6 border-0">
        <div class="card bg-whitesmoke text-black">
            <h3>$13.8<abbr title="thousand">K</abbr></h3>
            <%# <%=video_tag("outdoor.mp4", autoplay: true, muted: true, playsinline: true) %>
             <p class=>earned by the typical US Host in 2021</p>
            <p class>as of December 31, 2022</p>
        </div>
    </div>

    <div class="col-md-6 border-0">
        <div class="card bg-whitesmoke text-black">
            <h3>4<abbr title="million">M</abbr></h3>
            <%# <%=video_tag("outdoor.mp4", autoplay: true, muted: true, playsinline: true) %>
              <p class>Hosts on Airbnb</p>
              <p class>as of December 31, 2022</p>
        </div>
    </div>

    <div class="col-md-6 border-0">
        <div class="card bg-whitesmoke text-black">
            <h3 class="fastFact__title" >$180<abbr title="billion">B</abbr></h3>
            <%# <%=video_tag("outdoor.mp4", autoplay: true, muted: true, playsinline: true) %>
               <p class>earned by Hosts, all-time</p>
               <p class>as of December 31, 2022</p>
        </div>
    </div>

  </div>
</div>
</p>
</p>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="col-md-12">
        <h2>Amir Haikel</h2>
               <%= image_tag("amir.png", alt: "Example image", size: "300x200", class: "img-thumbnail")%>
        <p class="title">Back-End Developer</p>
        <p>Eat, Code, Sleep</p>
        <p>amir@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="col-md-12">
        <h2>Yongchian</h2>
        <%= image_tag("yongchian.png", alt: "Example image", size: "300x200", class: "img-thumbnail")%>
        <p class="title">Back-End Developer</p>
        <p>Eat, Code, Sleep</p>
        <p>yongchian@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="col-md-12">
        <h2>Zul</h2>
         <%= image_tag("zul.jpg", alt: "Example image", size: "300x200", class: "img-thumbnail")%>
        <p class="title">Front-End Developer</p>
        <p>Eat, Code, Sleep</p>
        <p>zul@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <div class="col-md-12">
        <h2>Evonne</h2>
        <%= image_tag("evonne.png", alt: "Example image", size: "300x200", class: "img-thumbnail") %>
        <p class="title">Front-End Developer</p>
        <p>Eat, Code, Sleep</p>
        <p>evonne@example.com</p>
        <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
