<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Untitled</title>
</head>
<body>
  <div data-controller="map"
    id='map'
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= @markers.to_json %>"
    style='width: 100%; height: 300px;'>
  </div>
    <div>
        <div class="top-banner-image" style="margin-left: 300px">
          <img src="https://hivelife.com/wp-content/uploads/2020/03/Haji-Lane-Hive-Life-Banner.jpg">
        </div>
    </div>
    <div style="margin-top: 99px;">
      <div class="container">
        <h1>What is popular near you </h1>
          <div class="horizontal-line"></div>
      </div>
    </div>

        <div class="container">
          <div class="row justify-content-center">
            <% @activities_near_you.shuffle.each do |activity| %>
                <%= render "activities/activity", activity: activity %>
            <% end %>
            </div>
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div class="container">
          <h1 style="padding-left: 0px;">Browse all options</h1>
            <div class="horizontal-line"></div>
        </div>
    </div>

        <div class="container">
            <div class="row">
               <div class="row justify-content-center">
               <% @activities.shuffle.each do |activity| %>
                <%= render "activities/activity", activity: activity %>
               <% end %>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="normal-line"></div>
            <section class="py-4 py-xl-5">
                <div class="container">
                    <div class="container" style="margin-left: -10px;margin-right: -12px;; background: url('https://i.redd.it/ardut9g5b8t51.jpg'), rgba(58,138,218,0.7);">
                        <h2 class="fw-bold text-white mb-3">Build a community with us!</h2>
                        <p class="mb-4">Earn extra just by hosting activities!</p>
                        <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div style="padding-bottom: 0px;margin-bottom: 82px;">
        <div class="container">
            <div class="row">
              <% @activities.each do |activity| %>
              <%= render "activities/activity", activity: activity %>
              <% end %>
          </div>
      </div>
  </div>
  <div>
      <div class="container">
          <section class="py-4 py-xl-5">
              <div class="container">
                  <div class="container-banner-image1 text-white bg-dark border rounded border-0 p-4 p-md-5" style="margin-left: -10px;margin-right: -12px;; background: url('https://www.asiaone.com/sites/default/files/styles/article_main_image/public/original_images/Apr2022/Singapore%20hdb_0.jpg?itot'), rgb(58,138,218);">
                      <h2 class="fw-bold text-white mb-3">Build a community with us!</h2>
                      <p class="mb-4">Earn extra just by hosting activities!</p>
                      <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a></div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  <div style="padding-bottom: 0px;margin-bottom: 82px;">
      <div class="container">
          <div class="normal-line"></div>
          <div class="row">
              <div class="col-md-6" style="padding-left: 40px;">
                  <h1>Discover moments shared by ToGatherers!</h1>
                  <span><p style="margin-top: 20px; text-align:justify;">ToGatherers play an important role in building stronger connections within their local community, which can have a positive impact on the overall environment of their neighborhood. By creating opportunities for people to come together and participate in shared activities and moments, ToGatherers can help foster a greater sense of community and togetherness, which can lead to a more vibrant and supportive environment for everyone involved.</p></span>
                  <a class="btn btn-primary btn-lg me-2" role="button" href="#">Visit Our Moments</a>
              </div>
              <div class="col-md-6">
                  <picture><img id="carouselImage" class="carousel-image" width="480" height="360" src="https://www.hdb.gov.sg/-/media/HDBContent/Images/CCG/dw2001hancommunity.ashx" style="padding-left: 0px; margin-left: 85px;"></picture>
              </div>
          </div>
      </div>
  </div>

<script>
  $(document).ready(function(){
    $('#myCarousel').carousel({
      interval: 2000
    })
  });
</script>

</body>



</html>
