<!-- app/views/payments/new.html.erb -->
<body>
<div class = "container">
<br>
<br>
  <div class="payment-new" style="display: flex;justify-content: center;background: var(--bs-white);">
    <div class="payment-post text-center">
        <h1 class="text-center"><br />Checkout summary<br /><br /></h1>
        <p>Purchase of <strong><%= @order.activity.name %></strong> for <strong><%= humanized_money_with_symbol (@order.amount * @order.booking.number_of_pax) %></strong></p>
        <p>Number of Pax: <strong><%= @order.booking.number_of_pax %></strong>
      <div class="row text-center" style="background: var(--bs-white);">
        <div class="col-md-12">
          <div class="activity-photos">
            <% @order.activity.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 150, width: 250, crop: :fill %>
              <%# remove the  class: "card-img-top" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group"> <button id="pay" class="btn btn-primary" style="width: 100%;margin: 30px 0px 0px;" type="submit">Pay</button></div>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
        });
        });
        </script>
      <br /><br />
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
</body>
