<div class="container">
  <h1>booking_payments</h1>
  <div class="row">
    <% @booking_payments.each do |booking_payment| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <%= image_tag booking_payment.photo_url , class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= booking_payment.name %></h5>
            <p class="card-text"><%= booking_payment.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(booking_payment.price) %></p>
            <%= link_to "More details", booking_payment_path(booking_payment), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>