<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 id="activity-name"></h2>
    <hr>
    <p id="activity-description"></p>
    <p id="activity-meeting-location"></p>
    <p id="activity-policies"></p>
    <%= link_to "View Activity", "#", id: "view-activity-link", class: "btn btn-primary" %>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");
var viewActivityLink = document.getElementById("view-activity-link");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// Get the activity name, description, meeting location, policies, and title elements in the modal
var activityName = document.getElementById("activity-name");
var activityDescription = document.getElementById("activity-description");
var activityMeetingLocation = document.getElementById("activity-meeting-location");
var activityPolicies = document.getElementById("activity-policies");
var modalTitle = document.getElementById("modal-title");

// When the user clicks the button, open the modal and set the title, activity name, description, meeting location, and policies
function showPopup(name, description, meetingLocation, policies, activityPath) {
  modal.style.display = "block";
  activityName.innerHTML = name;
  activityDescription.innerHTML = description;
  activityMeetingLocation.innerHTML = "Meeting Location: " + meetingLocation;
  activityPolicies.innerHTML = "Things to note: " + policies;
  viewActivityLink.href = activityPath;
}


// When the user clicks on <span> (x), close the modal
span.onclick = function () {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>

<div id="<%= dom_id activity %>" class="activity-card col-sm-3">

<div class="activity-image-container">
  <div class="activity-card-image" style="background-image: url(<%= cl_image_path activity.photos.sample.key %>)">
    <span class="fa-stack fa-lg" onclick="showPopup('<%= activity.name %>', '<%= activity.description %>', '<%= activity.meeting_location %>', '<%= activity.policies %>', '<%= activity_path(activity) %>')">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
    </span>
  </div>
</div>

  <div class="activity-details">
  <div style="display: flex; justify-content: space-between;">
   <a href="<%= activity_path(activity) %>" style="text-decoration: none;">
      <h2 class="activity-name"><%= activity.name %></h2>
    </a>


   <% if user_signed_in? %>
        <div data-controller="favorite" style="margin-left: 50px;">
          <%= link_to favorite_activity_path(activity), data: {turbo_method: :post, action: "click->favorite#update"} do %>
            <i class="fa-heart <%= current_user.favorited?(activity) ? "fa-solid" : "fa-regular" %>" data-favorite-target="bookmark"></i>
          <% end %>
        </div>
      <% end %>

  </div>

      <p class="activity-info" style="display: inline-block">
       <strong><%= activity.average_rating %></strong>
       <span class="fa fa-star"></span>
         <span class="circle circle--4 circle--gray ml-1 mr-1 align-middle"></span>
      Hosted by
      <strong><%= activity.user.first_name %></strong>
    <span class="circle circle--4 circle--gray ml-1 mr-1 align-middle"></span>
    At <strong><%= activity.meeting_location.sub(/,\s*Singapore$/, '') %></strong>
    </p>

    <p class="activity-description" style="color: grey"><%= activity.description %></p>

    <Div>

     <p class="activity-price" style="font-size: 18px; color: grey;">
      <strong>From <%= humanized_money_with_symbol(activity.price) %></strong>

      <%= link_to "View Activity", activity_path(activity), class: "btn btn-primary" %>

    </p>



    </Div>


  </div>

</div>
