<div id="<%= dom_id activity %>">
  <p>
    <strong>Host name:</strong>
    <%= activity.user.first_name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>
   <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>
   <p>
    <strong>Price: $</strong>
    <%= activity.price %>
  </p>
   <p>
    <strong>Meeting Location:</strong>
    <%= activity.meeting_location %>
  </p>
   <p>
    <strong>Policies:</strong>
    <%= activity.policies %>
  </p>
</div>
