<div id="<%= dom_id activity %>">
<div class= activity-card
  <p>
    <strong>Host name:</strong>
    <%= activity.user.first_name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <%# remove the price and place it at index to  %>
  <%# <p>
    <strong>Price: $</strong>
    <%= activity.price %>
  
  <p>
    <strong>Meeting Location:</strong>
    <%= activity.meeting_location %>
  </p>
  <p>
    <strong>Policies:</strong>
    <%= activity.policies %>
  </p>
</div>
