<div id="<%= dom_id activity %>" class="activity-card col-sm-3">

  <div class="activity-image-container">

    <div class="activity-card-image" style="background-image: url(<%= cl_image_path activity.photos.sample.key %>)"></div>

  </div>

  <div class="activity-details">

    <p class="activity-host">
      <strong>Host name:</strong>
      <%= activity.user.first_name %>
    </p>

    <h2 class="activity-name"><%= activity.name %></h2>

    <p class="activity-description"><%= activity.description %></p>

    <p class="activity-meeting-location">
      <strong>Meeting Location:</strong> <%= activity.meeting_location %>
    </p>

    <p class="activity-policies">
      <strong>Policies:</strong> <%= activity.policies %>
    </p>

    <p class="activity-price">
      <strong>Price:</strong> <%= humanized_money_with_symbol(activity.price) %></p>
    </p>

    <div class="activity-buttons">

      <%= link_to "View Activity", activity_path(activity), class: "btn btn-primary" %>
      <% if user_signed_in? %>
          <%= link_to favorite_activity_path(activity), data: {turbo_method: :post, action: "click->favorite#update"} do %>
            <i class="fa-heart <%= current_user.favorited?(activity) ? "fa-solid" : "fa-regular" %>" data-favorite-target="bookmark"></i>
          <% end %>
      <% else %>
      <% end %>
    </div>

  </div>

</div>
