<div id="<%= dom_id activity %>">
<div class= activity-card
  <p>
    <strong>Host name:</strong>
    <%= activity.user.first_name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <%# change money to be humanized symbol. Previous code :<strong>Price: $</strong>
    <%= activity.price %>
  <p>
  <strong>Amount:</strong> 
  <%= humanized_money_with_symbol(activity.price) %>
  </p>    
  
  <p>
    <strong>Meeting Location:</strong>
    <%= activity.meeting_location %>
  </p>

  <p>
    <strong>Policies:</strong>
    <%= activity.policies %>
  </p>
</div>
