<body>
    <section>
        <div class="swiper" style="background-image: url('blog/blog_background.jpg');background-position: top;">
            <div class="container swiper-container py-4 py-xl-5">
                <div class="row mb-5 activity-description-details">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 id="activity-title-name" class="fw-bold"><br /><span style="color: rgb(245, 5, 5); background-color: rgb(238, 232, 222);"><%= @activity.name %></span><br /><br /></h2>
                    </div>
                </div>
                <%# <h2>Photos</h2> %>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a class="card photo-activity">
                        <div class="activity-photos">
                            <div class="test">
                                <% @activity.photos.each do |photo| %>
                                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                                <% end %>
                                </a>
                                <p class="activity-description-render">
                                  <%= render "activity", activity: @activity %>
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>
                </div>
                <div class="container">
                    <div class="row booking-actiivity-form">
                        <div class="col">
                            <h2 class="text-uppercase text-center" style="font-size: 48;">New Booking</h2>
                            <%= render "/bookings/form", activity: @activity, booking: @booking %>
                        </div>
                    </div>
                </div>


                <section id="faq-1" style="padding: 2px;margin: 11px;">
                    <hr class="star-dark mb-5" />
                    <h2 class="text-uppercase text-center" style="font-size: 48;">FAQs from the Community</h2><br />
                    <div class="container">
                        <div class="faqelement">
                        </div><br />
                        <div class="faqelement">
                          <% activity = Activity.find(1) %>
                            <ul class="faqs-list">
                              <% activity.faqs.each do |faq| %>
                                <li class="faqs-list ">
                                  <div class="question">
                                  <strong>Question:</strong> <%= faq.question %>
                                  </div>
                                  <div class="answer">
                                  <strong>Answer:</strong> <%= faq.answer %>
                                  </div>
                                </li>
                              <% end %>
                            </ul>
                        </div>
                        <%# <button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Questions 
                        </button>
                            <div class="panel">
                                <p>Answer</p>
                            </div>
                        </div>
                    </div> %>
                    <div class="container">
                        <header></header>
                        <div class="col activity-page-button" style="padding: 44px;padding-bottom: 21px;padding-top: 21px;padding-left: 2px;width: 700px;">
                            <div class="btn-group activity-page-button" role="group"> 
                            
                            <%= link_to "Back to activities", activities_path, class: "btn btn-warning" %>

                            <% if policy(@activity).edit? %>
                              <%= link_to "Edit this activity", edit_activity_path(@activity), class: "btn btn-primary btn-edit-activity" %>
                            <% end %>

                            <%= button_to "Destroy this activity", @activity, method: :delete if policy(@activity).destroy? %>
                          </div>
                        </div>

                    </div>
                    <div class="row activity-reviews">
                        <div class="col-lg-12 offset-lg-0">
                            <h2>Reviews</h2>
                            <div></div>
                        </div>
                    </div>
                </section>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
</body>