<p>User rating: <%= host_review.user_rating %></p>

<p>Submitted on <%= host_review.created_at.to_formatted_s(:long) %></p>


<p><%= review.content %></p>
<p>Rating: <%= review.activity_rating %></p>
<p>Rating: <%= review.user_rating %></p>
